<app-menu></app-menu>

<div class="orders-container">
  <div *ngIf="loading">Caricamento ordini...</div>

  <div *ngIf="!loading && hasOrders">
    <h2>Ordini per l'utente</h2>
    <ul class="orders-list">
      <li *ngFor="let order of orders" class="order-item">
        <strong>ID Ordine:</strong> {{ order.id }}<br />
        <strong>Data:</strong> {{ order.orderTime | date }}<br />
        <strong>Totale:</strong> {{ order.totalAmount | currency }}
        <!-- Aggiungi altri dettagli come necessario -->
      </li>
    </ul>
  </div>

  <div *ngIf="!loading && !hasOrders && !errorMessage">
    <p>Non ci sono ordini per questo utente.</p>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p class="error">{{ errorMessage }}</p>
  </div>
</div>
