<div class="home-container">
  <!-- Hero Section -->
  <section class="hero">
    <h1>Benvenuti al Museo [Nome del Museo]</h1>
    <p>Scopri l'arte, la storia e la cultura con un’esperienza unica. Acquista i tuoi biglietti online!</p>
    <a href="/tickets" class="btn-primary" id="buy-tickets-button">Acquista Biglietti</a>
    <p class="login-reminder" id="login-reminder">Effettua il <a href="/login">login</a> o <a href="/register">registrati</a> per acquistare i biglietti.</p>
  </section>

  <!-- Sezione Esibizioni -->
  <section class="exhibitions">
    <h2>Esplora le nostre Mostre</h2>
    <p>Scopri un mondo di arte e storia nelle nostre esposizioni permanenti e temporanee.</p>
    <a routerLink="/exhibitions" class="btn-primary">Vedi tutte le esibizioni</a>
  </section>


  <!-- Sezione Biglietti -->
  <section class="tickets-info">
    <h2>Acquista i Tuoi Biglietti</h2>
    <p>Evita le code e acquista i biglietti online! Effettua il login o registrati per procedere.</p>
    <a href="/login" class="btn-primary">Accedi o Registrati</a>
  </section>
</div>
