<div class="ticket-list-container">
  <app-menu></app-menu>
  <h2>Biglietti</h2>

  <!-- Pulsante per aggiungere un nuovo ticket (solo per admin) -->
  <button *ngIf="isAdmin" class="btn btn-primary add-ticket-btn" (click)="toggleForm()">
    {{ showForm ? 'Annulla' : 'Aggiungi un nuovo ticket' }}
  </button>




  <!-- Form per aggiungere un nuovo ticket -->
  <div *ngIf="showForm" class="ticket-form">
    <h3>Nuovo Ticket</h3>
    <form [formGroup]="ticketForm" (ngSubmit)="addTicket()">
      <div class="form-group">
        <label for="name">Nome</label>
        <input id="name" type="text" formControlName="name" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="description">Descrizione</label>
        <textarea id="description" formControlName="description" class="form-control" required></textarea>
      </div>

      <div class="form-group">
        <label for="price">Prezzo</label>
        <input id="price" type="number" formControlName="price" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="quantity">Quantità</label>
        <input id="quantity" type="number" formControlName="quantity" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="exhibition">ID Esibizione</label>
        <input id="exhibition" type="number" formControlName="exhibition" class="form-control" required />
      </div>

      <button type="submit" class="btn btn-success" [disabled]="ticketForm.invalid">Salva Ticket</button>
    </form>
  </div>

  <!-- Elenco dei biglietti -->
  <div *ngIf="tickets.length > 0; else noTickets">
    <div *ngFor="let ticket of tickets" class="ticket-item">
      <div class="ticket-name">{{ ticket.name }}</div>
      <div class="ticket-description">{{ ticket.description }}</div>
      <div class="ticket-price">Prezzo: {{ ticket.price | currency }}</div>
      <div class="ticket-quantity">Quantità disponibile: {{ ticket.quantity }}</div>

      <!-- Quantità o campo per modificare la quantità -->
      <div *ngIf="editingTicket?.id === ticket.id; else showQuantity">
        <label for="newQuantity">Nuova Quantità:</label>
        <input id="newQuantity" type="number" [(ngModel)]="newQuantity" class="form-control" min="0" />
        <button (click)="updateTicketQuantity()" class="btn btn-success">Salva</button>
        <button (click)="cancelEdit()" class="btn btn-secondary">Annulla</button>
      </div>

      <ng-template #showQuantity>
        <div class="ticket-quantity">Quantità disponibile: {{ ticket.quantity }}</div>
      </ng-template>

      <button *ngIf="isAdmin" (click)="editTicket(ticket)" class="btn btn-warning">Modifica</button>
      <button *ngIf="isAdmin" (click)="deleteTicket(ticket.id!)" class="btn btn-danger">Elimina</button>

      <!-- Bottone Compra, visibile solo agli utenti con ruolo ROLE_USER -->
      <button *ngIf="isUser" (click)="navigateToCart(ticket.id!)">Compra</button>
    </div>
  </div>

  <ng-template #noTickets>
    <p class="no-tickets-message">Nessun ticket trovato.</p>
  </ng-template>
</div>
